*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

a,
p {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

li {
  margin-bottom: 10px;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  padding: 20px;
  background: #ffc4ad;
  color: rgb(107, 195, 166);
  text-align: center;
}
