*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

a,
p {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

li {
  border: 1px solid #674e45;
  text-align: start;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  padding: 20px;
  background: #ffc4ad;
  color: rgb(107, 195, 166);
  text-align: center;
}

#orders {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.order-card {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  width: calc(50% - 10px);
}

.order-card img {
  border-radius: 50%;
  margin-bottom: 8px;
}

.order-card h3 {
  margin: 8px 0;
}

.order-card p {
  margin: 4px 0;
  font-size: 14px;
}

button {
  cursor: pointer;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background: #ffb4b4f7;
  color: #fff;
  margin-top: 10px;
  transition: background 0.3s ease;
}

button:hover {
  background: #ff7b7bf7;
}

/* .icon-btn {
  background: none;
  color: #333;
  font-size: 18px;
} */

.my-modal.hidden {
  display: none;
}

.hidden {
  display: none;
}

.my-modal {
  position: fixed;
  inset: 0;
  background: rgba(254, 186, 76, 0.118);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  z-index: 1001;
}

.modal-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}
